<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>

<body>
<nav th:replace="fragments :: profile-nav"></nav>


<div class = "row">
    <div class="col-md-4">
        <Legend>Edit Profile</Legend>
        <br/>
        <form  method="post" style="max-width:600px;">
            <div class="form-group">
                <label th:for="firstName">First Name</label>
                <input class="form-control" th:name="firstName" th:value = "${profile.firstName}" />
            </div>
            <div class="form-group">
                <label th:for="lastName">Last Name</label>
                <input class="form-control" th:name="lastName" th:value = "${profile.lastName}" />
            </div>
            <div class="form-group">
                <label th:for="city">City</label>
                <input class="form-control" th:name="city" th:value = "${profile.city}" />
            </div>
            <div class="form-group">
                <label th:for="workPlace">Work Place</label>
                <input class="form-control" th:name="workPlace" th:value = "${profile.workPlace}" />
            </div>
            <div class="form-group">
                <label th:for="job">Job</label>
                <input class="form-control" th:name="job" th:value = "${profile.job}" />
            </div>
            <input type="submit" value="Submit Changes" />
        </form>
        <span th:text="${message}"></span>



</body>
</html>