<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>

<body>
<nav th:replace="fragments :: profile-nav"></nav>


<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Menu</h3>
        </div>
        <div class="panel-body">
            <ul class="list-group">

                <li class="list-group-item">
                    Messenger
                </li>
                <li class="list-group-item">
                    Jobs
                </li>
                <li class="list-group-item">
                    Recipes
                </li>
                <li class="list-group-item">
                    Happy Hours
                </li>
                <li class="list-group-item">
                    Wine Tastings
                </li>
                <li class="list-group-item">
                    Events
                </li>
                <li class="list-group-item">
                    Hangout
                </li>
                <li class="list-group-item">
                    Photos/Videos
                </li>
            </ul>
        </div>

    </div>
    <div class = 'col-md-1'></div>
    <div class = "col-md-6">
        <div>
            <h1 th:text="${profile.firstName} + ' ' + ${profile.lastName}"></h1>
            <span th:text="${profile.city}"></span>
            <span th:text="${profile.workPlace} "></span>
            <span th:text="${profile.job}"></span><br>
            <a href="/profile/edit "> Edit </a>
        </div>
        <br>
        <form method="post" action="/createPost">
            <div class="form-group">
                <label class="col-form-label" for="text">New Post</label>
                <input type="text" class="form-control" placeholder="Tell the World Something" id="text" th:name ="text">
            </div>
            <button type="submit" class="btn btn-primary btn-sm">Post</button>
        </form>
        <br>
        <div class="card border-secondary mb-3" th:each="post : ${profile.posts}">
            <div class="card-header" th:text="${profile.firstName}"></div>
            <div class="card-body">
                <p class="card-text" th:text="${post.text}"></p>
            </div>
        </div>
    </div>
</div>

</body>

</html>